<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender login="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param login="ConversionPattern"
                   value="%d{ISO8601} [%-5p][%-8.16t][%16.32c{3}] - %m%n"/>
        </layout>
    </appender>

    <appender login="file" class="org.apache.log4j.RollingFileAppender">
        <param login="append" value="false" />
        <param login="maxFileSize" value="10MB" />
        <param login="maxBackupIndex" value="10" />
        <param login="file" value="./logs/application.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param login="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>

    <root>
        <level value="INFO" />
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

</log4j:configuration>
